<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre o Romeiros Bank</h6>
                <p class="text-justify">
                    O Romeiros Bank foi criado para unir fé e apoio. 
                    Com nossa conta digital, simples e acessível, você contribui para serviços essenciais que apoiam os romeiros em suas jornadas, 
                    como ambulâncias, pontos de apoio, transporte e assistência médica.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categorias</h6>
                <ul class="footer-links">
                    <li><a href="under-construction.html">Conta Digital</a></li>
                    <li><a href="under-construction.html">Microcrédito</a></li>
                    <li><a href="under-construction.html">Doações</a></li>
                    <!-- <li><a href="#faq">FAQ</a></li> -->
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Links Rápidos</h6>
                <ul class="footer-links">
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="#politica-de-privacidade">Política de Privacidade</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024 Todos os Direitos Reservados por 
                    <a href="#">Romeiros Bank</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/romeiros.bank/"><i class="bi bi-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-credits">
        <p>Design by <a href="https://smkdigital.com.br/" target="_blank">SMK Digital</a></p>
    </div>
</div>