<div class="bg-dark text-white">
    <!-- Navbar Offcanvas -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-nav d-flex align-items-center">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <img src="assets/img/logo-romeiros-bank-vertical.png" alt="Logo Romeiros Bank"
                    class="img-fluid">
            </a>

            <!-- Toggle Button for Offcanvas -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Offcanvas Menu -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <a href="index.html" class="logo">
                <img src="assets/img/logo-romeiros-bank-vertical.png" alt="Romeiros Bank"
                    class="img-fluid offcanvas-title" id="offcanvasNavbarLabel"></a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="sobre.html">Sobre</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Produtos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="under-construction.html">Conta Digital</a></li>
                            <li><a class="dropdown-item" href="under-construction.html">Microcrédito</a></li>
                            <li><a class="dropdown-item" href="under-construction.html">Doações</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a href="under-construction.html" class="btn btn-open-account">Abra sua Conta</a>
                    </li>
                    <li class="nav-item">
                        <a href="under-construction.html" class="btn btn-access-account">Acesse sua Conta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>