/* Seção de Dicas */
.tips-section {
    padding: 60px 20px;
    background-color: #eaf3f6;
    text-align: center;
}

.tips-container {
    max-width: 900px;
    margin: auto;
    color: #333;
}

/* Título e Introdução */
.tips-title {
    font-size: 2.2rem;
    color: var(--primary);
    margin-bottom: 15px;
    font-weight: bold;
}

.tips-intro {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

/* Artigos */
.articles-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.article {
    background: linear-gradient(135deg, #ffffff, #f3f9fb);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
}

.article:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagens dos Artigos */
.article-image {
    overflow: hidden;
    border-radius: 8px;
}

.article-image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.article-image:hover img {
    transform: scale(1.1);
}

.article-title {
    font-size: 1.5rem;
    color: var(--primary);
    margin-top: 15px;
}

.article-description {
    font-size: 1rem;
    color: #555;
}

.accordion {

    margin-bottom: 1rem;
    overflow: hidden;
    transition: border-color .5s ease;
    background-color: #f1f1f1;
}


.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    * {
          padding: 0 1em 1em;
    }
  }

  .accordion input {
    display: none;
  }

  .accordion:has(input:checked) {
    border-color: #000;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }

  .accordion input:checked ~ .accordion__content {
    max-height: 300px;
}

/* Responsividade */
@media (min-width: 768px) {
    .articles-container {
        grid-template-columns: 1fr 1fr;
        /* Duas colunas em telas maiores */
    }
}