/* Estilos padrão buttons */
.btn {
    font-family:'Swiss-bold', Times, serif;
    transition: .5s;
}

.cta-button {
    font-size: 1.2rem;
    padding: 12px 36px;
    background-color: var(--primary);
    box-shadow: inset 0 0 0 50px transparent;
    border: none;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s;
    animation: fadeIn 1.5s forwards 0.6s;
    opacity: 0;
    
}

.cta-button:hover {
    background-color:var(--emphasis);
    box-shadow: inset 0 0 0 0 #000000;
    border-radius: 8px;
    z-index: 999;
}

.btn-one {
    color: var(--primary);
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: var(--emphasis);
    border-bottom-color: var(--emphasis);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

/* Botões Flutuantes */
.btn-open-account,
.btn-access-account {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    /* espaço entre botões */
}

.btn-open-account {
    background-color: var(--primary);
}

.btn-open-account:hover {
    background-color: var(--emphasis);
    color: var(--dark);
    transform: scale(1.05);
}

.btn-access-account {
    background-color: var(--secondary);
}

.btn-access-account:hover {
    background-color: var(--emphasis);
    color: var(--dark);
    transform: scale(1.05);
}